.footer {
  background-color: #121417;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #4c44fa;
}

.footer-right {
  display: flex;
  gap: 5rem;
}

.footer-logo h2 {
  font-size: 24px;
  color: #58a6ff;
}

.footer-logo p {
  font-size: 14px;
  color: #aaa;
}

.footer-links,
.footer-socials,
.footer-contact {
  text-align: left;
}

.footer-links h3,
.footer-socials h3,
.footer-contact h3 {
  font-size: 18px;
  color: #4c44fa;
  margin-bottom: 10px;
}

.footer-link,
.social-icon {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 6px;
  transition: 0.3s;
}

.footer-link:hover,
.social-icon:hover {
  color: #4c44fa;
}

.footer-contact p {
  font-size: 14px;
  margin: 5px 0;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}
